<footer class="text-center space-x-icon">
    <a href="mailto:fajaralfrzi@gmail.com"><img src="/icon/gmail.svg" alt="Email" class="size-icon"></a>
    <a href="https://github.com/fajaralfa"><img src="/icon/github.svg" alt="Github" class="size-icon"></a>
    <a href="https://www.instagram.com/fajaralfrzi"><img src="/icon/ig.svg" alt="Instagram" class="size-icon"></a>
</footer>